.login {
    display: block;
    margin: 0 auto 20px;
    width: 100px;
    height: auto;
    color: #6E85B7;
    margin-bottom: 0.5rem;
}

.imput {
    color: #6E85B7;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #6E85B7;
    margin: 0;
    font-family: Arial, sans-serif;
}

.card {
    display: flex;
    width: 850px;
    height: 500px;
    background-color: #B2C8DF;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;


}

.caja label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    text-align: left;
    width: 100%;
    max-width: 280px;

}

.caja input {
    width: 90%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.caja button {
    width: 100%;
    padding: 10px;
    background-color: #6E85B7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* RESPONSIVE DESIGN */
@media (max-width: 600px) {
    body {
        align-items: flex-start;
        height: auto;
        min-height: 100vh;
    }

    .logo {
        display: none !important;
    }

    .card {
        width: 98vw;
        height: auto;
        min-height: 100vh;
        border-radius: 0;
        box-shadow: none;
        padding: 0;
        position: fixed;
        top: 0;
        left: 0;
        transform: none;
    }

    .caja {
        width: 95vw;
        min-width: unset;
        max-width: 100vw;
        margin: 0 auto;
        padding: 20px 5px;
        box-sizing: border-box;
    }
    .entrar-btn {
    background-color: #4CAF50;
    margin-top: 10px;
    }

    .entrar-btn:hover {
        background-color: #45a049;
    }


}